.carousel-list{
    display: grid;
    align-items: center;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    max-width: 60rem;
    padding: 1rem 2rem;
    overflow: hidden;
    list-style-type: none;
}

.carousel-item{
    grid-column: 1;
    grid-row: 1;
    line-height: 1.2;
    text-align: center;
    transition: transform 1s;
}

.carousel-item.active{
    transform: translateX(0);
}

.carousel-item.left{
    transform: translateX(-120%);
}

.carousel-item.right{
    transform: translateX(120%);
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.quotes{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 24px;
    word-spacing: 10px;
    font-weight: bolder;
}

.carousel-name{
    display: block;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    color: darkgrey;
}


@media only screen and (max-width : 768px){
    img{
        height: 100px;
        width: 100px;
    }
    p{
        font-size: 18px;
        word-spacing: 3px;
    }
}