.main-head{
  position: fixed;
  font-size: 30px;
  text-transform: uppercase;
  color: darkmagenta;
  font-weight: bolder;
  font-style: italic;
  z-index: -1;
}

.slideshow-container{
  display: grid;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.prev{
  left : 8%;
}

.prev , .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-50%);
  font-weight: bolder;
  font-size: 40px;
  user-select: none;
  background-color: rgba(0,0,0,0.4);
  border-radius: 20px;
}

.next{
  right: 8%;
}

.prev:hover , .next:hover{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}


    .display{
      display: none;
    }

    @media only screen and (max-width : 768px){
      .prev{
        left : 0;
        font-size: 26px;
      }
      .next{
        right: 0;
        font-size: 26px;
      }
    }

    @media only screen and (max-width : 1100px){
      .prev{
        left: 0;
        font-size: 30px;
      }
      .next{
        right: 0;
        font-size: 30px;
      }
    }